.TodoCounter {
    font-size:24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
    
}

.TodoCounterComplete {
    font-size:24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: bold;
    
}

.TodoCounter span {
    font-weight: bold;
}